@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;0,6..96,800;1,6..96,600&family=Poppins:wght@200;400;800&display=swap");

/* font-family: 'ADLaM Display', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Poppins', sans-serif; */

p,
a {
  font-family: "poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "ADLaM Display", cursive;
}
