@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,600;0,6..96,800;1,6..96,600&family=Poppins:wght@200;400;800&display=swap");

/* font-family: 'ADLaM Display', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Poppins', sans-serif; */

@font-face {
  font-family: Helvetica Text;
  src: url(../public/fonts/HelveticaNowText.woff2);
}

@font-face {
  font-family: "Nike";
  src: url(../public/fonts/Nike-Futura.woff2);
  font-weight: bold;
}

p,
a {
  font-family: Helvetica Text;
}

h1,
h2,
h3,
h4 {
  font-family: "Nike", cursive;
}
